<!-- app/views/users/sessions/new.html.erb -->
<!-- 課題1 -->
<!-- 新規会員登録画面にも、オリジナルのテキストを一行追加する -->
<!-- 課題2 -->
<!-- パスワード再発行ページにも、オリジナルのテキストを一行追加する -->
<style>
  .form {
    width: 600px;
    margin: 0 auto;
  }
  .form h1 {
    text-align: center;
    font-weight: normal;
  }
  .form .button {
    margin: 20px auto 0;
    display: block;
    width: 200px;
    background-color: #8888bb;
    line-height: 44px;
    text-align: center;
    font-size: 22px;
    border-radius: 6px;
    appearance: none;
    border: none;
    color: #fff;
  }
  .form input[type="text"],
  .form input[type="nickname"],
  .form input[type="password"] {
    width: 100%;
    border-radius: 4px;
    line-height: 32px;
    border: 1px solid #ccc;
    padding: 0 15px;
  }
</style>
<div class="form">
<h1>ログイン</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <p>ニックネーム</p>
    <%= f.text_field :nickname, autofocus: true %>
  </div>
   <!--  <div class="field">
      <%#= f.label :email %><br />
      <%#= f.email_field :email, autofocus: true %>
    </div> -->

  <div>
    <p>パスワード</p>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div>
    <p>次から入力を省略。</p>
      <%= f.check_box :remember_me %>
  </div>
  <% end -%>

    <%= f.submit "ログインする！" , class: "button" %>
  
<% end %>

<%= render "users/shared/links" %>
