<!-- app/views/users/sessions/new.html.erb -->
<!-- 課題1 -->
<!-- 新規会員登録画面にも、オリジナルのテキストを一行追加する -->
<!-- 課題2 -->
<!-- パスワード再発行ページにも、オリジナルのテキストを一行追加する -->
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>
    <div class="field">
      <%#= f.label :email %><br />
      <%#= f.email_field :email, autofocus: true %>
    </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
