<p id="notice"><%= notice %></p>


<h1>商品一覧</h1>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>商品名</th>
      <th>値段</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if product.image? %>
            <td><%= image_tag product.image.url %></td>
        <% else %>
            <td>画像がありません</td>
        <% end %>
            <td><%= link_to product.name, product_path(product) .truncate(15) %></td>
            <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>

<br>


