<!DOCTYPE html>
<html>
  <head>
    <title>Task5test2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
              
          	<% if user_signed_in? %>
              <%= current_user.nickname %>　としてログインしています。
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <%= link_to "マイページ", user_path(current_user) %>
            <% else %>
              <%= link_to "新規登録", new_user_registration_path %> |
              <%= link_to "ログイン", new_user_session_path %>
            <% end %>
            <%= link_to 'トップ', products_path %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
